/***** BASE STYLES *****/

html {
  color: #222;
  font-size: 16px;
  line-height: 1.4;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.4;
  background-color: #d3d3d393;
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}


h1 {
  font-family: 'raleway';
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 1.5;
  width: 100%;
}

h2 {
  font-family: 'gimlet-display', serif;
  font-weight: 300;
  font-size: 1.875em;
  width: 100%;
}

h3,
h4 {
  font-family: 'gimlet-display', serif;
  font-weight: 300;
  font-size: 1.125em;
  margin: 20px 0;
  font-weight: bold;
}

h5 {
  font-size: 1.5rem;
}

p,
li {
  font-size: 16px;
  line-height: 1.5;
}

span {
  font-weight: bold;
}

figure{
  margin: 20px 0 40px 0;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

/**** structure setting *****/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header, #about, #projects, footer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
}

#skills {
display: flex;
justify-content: space-evenly;
text-align: center;
flex-flow: row wrap;
}

.content-wrapper {
  width: 85%
}

#about p, #projects p {
  width:100%;
  text-align: left;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

p{
  margin: 0;
}

/****** Margin & Padding for elements*****/

header {
  padding-top: 30px;
  padding-bottom: 60px;
}
nav {
  padding-bottom: 60px;
}

#projects {
  padding-top: 60px;
}

#skills {
  padding-top: 80px;
  padding-bottom: 80px;
}

#about {
  padding-top: 60px;
  padding-bottom: 60px;
}

footer {
  padding: 80px 0;
}

h2 {
  margin-top: 10px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h4 {
  margin: 0 0 40px 0;
}

/**** project ****/

#projects h2 {
  width: 100%;
}

#projects .description {
  margin: 0 0 30px 0;
}

.project-link {
  margin: 40px 0 60px 0;
}

/***** about ******/

#about h2 {
  margin: 40px 0 40px 0;
}

.about-text{
  margin: 0 0 30px 0;
}
/****** contact *****/

.contact-info {
  margin: 0 0 60px 0;
}

.contact-title {
  margin: 0 0 40px 0;
}

/****** header*******/
header {
  background-color: #77f0f080;
}

header nav ul li {
  font-size: .75rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

header h1 {
  width: 100%;
}

/******* mobile styles ******/
#projects,
#skills {
  width: 100%;
}
.portfolio-wrapper {
  display:flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column figure {
  width: 100%;
} 

figcaption {
  text-decoration: underline;
}

.project-link {
  background-color: #453E4F;
  padding: .75rem 3.75rem;
  border-radius: 30px;
  color: #FFFFFF;
}

.project-link:hover {
  background-color: #db86ec9c;
  color: #453E4F;
}

.language-wrapper,
.tools-wrapper {
  font-size: 18px;
  display: inline-block;
  background-color: #d36fd3b2;
  box-shadow: 5px 5px 20px #af3faf;
}
#skills {
  width: 100%;
}
/*** About ***/

#about h2,
#about p {
  color: #000000;
}

/******skills*****/
.skills-header {
  display: flex;
  font-size: 3rem;
  padding: 20px 0;
  color: #000000;
  padding-bottom: 10px;
  padding-left: 50px;
}

.skills-container {
  display: grid;
  row-gap: 2rem;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 1rem;
}

/***** base header style ****/

footer {
  background-color: #77f0f080;
}

footer .contact-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

footer .contact-info {
  width: 60%;
}

.email_overflow {
  background-color: #ee82e96e;
  border-radius: 100px;
  box-shadow: rgba(99, 209, 236, 0.363) 0 16px 32px;
  color: rgb(187, 40, 192);
  cursor: pointer;
  display: inline-block;
  padding: 10px 23px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.email_overflow:hover {
  box-shadow: rgba(24, 131, 158, 0.747) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

footer .contact-social-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
}

footer ul {
  width: 100%;
}

footer .social-icons li {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .social-icons li i {
  font-size: 1.875rem;
  color: #453e4f;
}

/****Header*****/
.header-wrapper {
  margin-left: 100px;
  padding-left: 150px;
  padding-top: 60px;
}
/***** ABOUT *****/
#about {
  width: 100%;
}

#about .content-wrapper {
  display: flex;
  justify-content: space-around;
}

#about img {
  padding-bottom: 40px;
  display: block;
}

#me {
  width: 90%;
}

#about h1 {
  text-align: center;
}

#about h2 {
  font-size: 40px;
  margin: 40px 0 40px 0;
}

#about p {
  font-size: 30px;
  text-align: center;
}
/*****portfolio-class*****/

.language-wrapper {
  text-align: center;
}
/***** projects ******/

#projects h2 {
  font-size: 2rem;
  padding-bottom: 20px;
}

.column {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  padding: 30px;
  box-shadow: 5px 5px 20px #000000;
  position: relative;
}

#projects .column p{
  object-fit: contain;

}

/* project-box */

figure img {
  width: 100%;
  margin: 0;
  display: block;
}

#projects .item {
 text-align: center;
}

#projects .description .btn {
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 10px 30px;
  cursor: pointer;
  text-decoration: none;
}
.project-link {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.project-link:after {
  content: "";
  background-color: #8ef3f371;
  ;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.project-link:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .project-link {
    padding: 13px 50px 13px;
  }
}


/**** copyright ****/
.copyright {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 10px;
}

/**** Tablet styles ****/
@media only screen and (min-width:768px) {

  /* general styles */ 
  .content-wrapper {
    max-width: 640px;
  }

  /* font styles */
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  header nav ul li {
    font-size: 1rem;
  }

  /***** element margins *****/
  header {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  nav {
    margin: 0 0 80px 0;
  } 

  #about {
    padding: 80px 0;
  }

  #skills {
    padding-bottom: 80px;
  }

  #projects {
    padding-top: 80px;
  } 

  footer {
    padding: 140px 0;
    padding-bottom: 80px;
  }
  
  h2 {
    margin-top: 80px;
  } 

#projects h2 {
  margin: 0 0 60px 0;
}

  .portfolio-header {
    margin: 0 0 60px 0;
  }

  .project-description {
    margin: 0 0 30px 0;
  }

  .project-link {
    margin: 40px 0 60px 0;
  }

  #skills {
    padding-top: 80px;
  }

  .skills-header {
    margin-bottom: 40px;
  }

  .about-text {
    margin: 0 0 30px 0;
  }

  .contact-info {
    margin: 80px 0;
  }

  .contact-title {
    margin: 0 0 30px 0;
  }

  /**** header ****/ 
  header .content-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  header nav {
    display: flex;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
  }

  header nav ul {
    /* keep if using hamburger menu */
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  .home-title {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }


  /****** portfolio ******/
  .portfolio-wrapper {
    justify-content: space-around;
  }

  .column {
    width: 45%;
    align-items: center;
  }

  .project-description {
    width: 95%;
  }

  .language-wrapper,
  .tool-wrapper {
    justify-content: space-evenly;
    width: 100%;
    flex-flow: row wrap;
  }

  /* about */
  .about-content-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  #about figure {
    width: 60%;
  }

  /* Footer */
  .contact-wrapper {
    display: flex;
    justify-content: space-between;
  }

  footer .contact-info {
    width: 33%;
  }

  footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }

  footer .social-icons {
    width: 12.5em;
    justify-content: space-between;
  }

  footer .social-icons li i {
    font-size: 2rem;
  }

  footer .copyright {
    width: 100%;
  }
}

@media only screen and (min-width:1024px) {

  /* added for landscape tablets and iPad Pro */
  .content-wrapper {
    max-width: 900px;
  }

  .about-info h3 {
    font-size: 3.5rem;
  }
}

/**** Desktop styles ****/
@media only screen and (min-width: 1200px) {

  .content-wrapper {
    max-width: 1450px;
  }

/********* font styles *****/

 h1{
  font-size: 3em;
}

h2 {
  font-size: 2rem;
}

#projects h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  font-size: 1.25rem;
}

.project-link,
.language-wrapper,
.tools-wrapper {
  font-size: 1rem;
}

header nav ul li {
  font-size: 2rem;
}

/**** element margins *****/
header {
  padding-top: 80px;
  padding-bottom: 140px;
}

nav {
  margin-bottom: 80px;
}

#projects {
  padding-top: 80px;
}

#skills {
  padding-bottom: 120px;
}

#about {
  padding-top: 80px;
  padding-bottom: 80px;
}

footer {
  padding: 140px 0 140px;
}

h2 {
  margin: 40px 0 0 0;
}

.portfolio-header {
  margin: 0 0 60px 0;
}

.project-description {
  margin: 0 0 30px 0;
}

.project-link {
  margin: 40px 0 80px 0;
}

#skills {
  padding-top: 120px;
}

#skills .content-wrapper {
  max-width: 900px;
}

.skills-header {
  margin-bottom: 40px;
}

.about-info h3 {
  margin: 0;
}

.about-info h4 {
  margin: 40px 0;
}

.about-text {
  margin: 0 0 30px 0;
}

.contact-email-box {
  margin: 80px 0 80px 0;
}

.contact-title {
  margin: 0 0 30px 0;
}

#projects h2 {
  padding-bottom: 80px;
}

  /****** header *****/

header .content-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
}

header nav {
  justify-content: flex-end;
  width: 45%;

}

header nav ul li {
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: space-between;
  padding-bottom: 20px;
}

nav ul li a:hover, 
nav #contact-link:hover {
  background-color: #c450c477;
  color: #453E4F;
  padding: 10px 10px;
  border-radius: 30px;
}
.home-title {
  max-width: 95%;
}

.skills-container {
  display: grid;
  row-gap: 2rem;
  padding-top: 1rem;
  justify-content: space-around;
}


/**** about *****/
.about-content-wrapper {
  display: flex;
  justify-content: space-between;
} 

#about figure {
  width: 35%;
  margin-top: 0;
}

.about-info {
  width: 58%;
}

/**** portfolio ***/

.project-box figure img{
  height: auto;
}

.column {
  width: 30%;
}

figcaption {
  text-decoration: underline;
}

figcaption:hover {
  background-color: #e278e63d;
}

/* skill */

.skills-container {
  grid-template-columns: repeat(3, 350px);
  column-gap: 2rem;
}

/*** contact ***/

footer .contact-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: baseline;
}

footer .content-wrapper {
  max-width: 70%;
}

footer .social-icons {
  width: 12.5em;
  justify-content: space-between;
}

  /**** copyright ****/
.copyright {
  display: flex;
  justify-content: center;
   width: 100%;
  margin-top: 50px;
  margin-bottom: 10px;
  }
} 

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}


@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
