/***** BASE STYLES *****/

html {
  font-size: 16px;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.4;
  color:
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol{
  list-style-type: decimal;
  margin: 0;
  padding: 0;
}

a {
  color: ;
  text-decoration: none;
}

h2 {
  font-family: 'gimlet-display', serif;
  font-weight: 300;
  font-size: 1.875em;
  margin: 0;
}

h3,
h4 {
  font-family: 'gimlet-display', serif;
  font-weight: 300;
  font-size: 1.125em;
  margin: 20px 0;
  font-weight: bold;
}

p {
  font-size: .875em;
  line-height: 1.285;
}

figure{
  margin: 0;
}

content-wrapper{
  width: 90%;
  margin: 50px 0;
}
                      /* Base header  */
header {
  background-color: ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header{
  padding: 50px 0;
}

header nav {
  width: 60%;
  font-size: 1.125em;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

header nav ul li {
  font-size: 1.125em;
}
/***** project section *****/

.project_item {
  display: flex;
  width: 500px;
  margin: auto;
  justify-content: space-between;
  border: 2px solid #777;
  box-sizing: border-box;
}

figure {
  width: 200px;
  margin: 0;
  padding: 8px;

}

figure img {
  width: 100%;
  margin: 0;
}

figure figcaption {
  text-align: left;
  padding: 8px 4px;
}

.btn {
  background-color: ;
  border: ;
  color: ;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 10px 30px;
  cursor: pointer;
  text-decoration: none;
}
/***** contacts & social media section *****/

footer #contact {
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  padding: left;
}

#socialnetwork-header {
    font-weight: bold;
    font-size: 29px;
    line-height: 44px;
    margin: 40px 0 0 0;
}
.social-icons ul {
  display: inline-flex;

}
